/* Fonts available - 400, 600, 700 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

a {
  text-decoration: none;
  color: var(--clr-primary3);
  text-transform: capitalize;
}

ul,
ol {
  list-style-type: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2.4rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.9rem;
  }

  h3 {
    font-size: 3.2rem;
  }
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.btn {
  background: var(--clr-primary2);
  color: var(--clr-primary3);
  padding: 14px 24px;
  border-radius: 1.5rem;
  text-transform: capitalize;
  border: none;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 0.9375rem;
  font-family: var(--font-primary);
}

:root {
  --clr-primary1: #121217;
  --clr-primary2: #102844;
  --clr-primary3: #fff;
  --clr-primary4: #000;

  --clr-faded: rgba(255, 255, 255, 0.8);

  --font-primary: "Inter", sans-serif;
}

.title {
  font-weight: 700;
  color: var(--clr-primary3);
}

.subtitle {
  font-weight: 400;
  color: var(--clr-primary3);
  text-transform: capitalize;
}

.subtitle-faded {
  font-weight: 400;
  color: var(--clr-faded);
  text-transform: capitalize;
}

.section-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
